@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.link {
  text-decoration: none;
  transition: color $transition-fast;

  .linkArrow {
    transition: transform $transition-fast;
  }



  &:hover {
    color: $color-primary-dark;
    text-decoration: none;

    .linkArrow{
    transform: translateX(4px);

    }
  }
}

