@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;



.viewAllLink {
  border-bottom: 2px solid $color-primary;
  padding-bottom: 2px;
  transition: color $transition-fast, border-color $transition-fast;

  &:hover {
    border-color: $color-primary-dark;
  }
}
